/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: grey;
}

.header {
    margin: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #555;
    padding: 15px;
}

.btn {
    margin-right: 10px;
}

.myStyle {
    margin-left: 30%;
    margin-right: 30%;
}